@import './variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  background-color: $success-mid;
  color: $primary-text;
  position: relative;
  border-radius: 0.5rem;

  .brand {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor:pointer;
    .logo {
      width: 40px;
      height: auto;
      margin-right: 0.5rem;
    }
  }

  .nav-links {
    display: flex;
    gap: 0.5rem;

    a {
      position: relative;
      color: $text-primary;
      text-decoration: none;
      font-weight: 700;
      overflow: hidden;
      padding: 0.5rem 1rem;
      // Hover effect styles
      &::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 0;
        background-color: $info-light;
        border-radius: 1rem;
        transition: width 0.3s ease-in-out;
        z-index: -1;
      }

      &:hover {
        color: $overlay-light;

        &::before {
          width: 100%;
        }
      }

      // Apply the underline effect only on larger screens
      @media (min-width: $breakpoint-md) {
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          width: 0;
          background-color: $secondary-text;
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
        }

        &.active::after {
          width: 100%;
        }
      }
    }

    // Mobile menu styling
    @media (max-width: $breakpoint-md) {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 70%;
      height: 100vh;
      background-color: rgba(255, 255, 255, 0.5); // Semi-transparent background
      backdrop-filter: blur(10px); // Blurs the background
      padding: 1rem 0;
      z-index: 10;
    
      &.open {
        display: flex;
      }
    
      a {
        text-align: center;
      }
    }
    //backdrop menu semi furnish
    .menu-backdrop {
      position: fixed;
      top: 0;
      left: 70%; // Start after the menu width
      width: 30%;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.3); // Slightly dark overlay for rest of the screen
      z-index: 10; // Ensure it's below the menu but above other elements
      display: none;
    
      &.open {
        display: block;
      }
    }
  }

  .menu-icon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;

    span {
      width: 25px;
      height: 3px;
      background-color: $background-default;
      transition: transform 0.3s;
    }

    @media (max-width: 768px) {
      display: flex;
    }
  }
}

// Add transformations for menu icon on open
.menu-icon.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}
