@use "./variables" as vars;

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px) !important;
  background: vars.$background-transparent;
  z-index: 9999; /* Ensure the spinner is on top of other elements */
  text-align: center; /* Ensure all content inside is centered */
}

.spinner-overlay img {
  max-width: 150px; /* Adjust size of the logo */
  margin-bottom: 3px;
  border-radius: 15px;
}

.spinner-overlay .loading-text {
  font-size: 1.5em;
  margin-bottom: 3px; /* Space between text and progress bar */
  color: vars.$light-text; /* Adjust color as needed */
}

.spinner-overlay .progress-bar-container {
  width: 100%;
  max-width: 300px; /* Limit the width of the progress bar */
  height: 10px; /* Height of the progress bar */
  background: vars.$primary-text; /* Background of the progress bar container */
  border-radius: 2.5px;
  overflow: hidden;
}

.spinner-overlay .progress-bar {
  height: 100%;
  background: vars.$success-mid; /* Progress bar color */
  animation: fillProgressBar 2s linear infinite; /* Adjust duration and animation */
}

@keyframes fillProgressBar {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
