@import '../variables.scss';

.carousel-section {
  width: 100%;

  .section-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      font-size: 1.1rem;
      font-weight: bold;
    }

    .view-all-link {
      text-decoration: none;
      font-size: 0.8rem;
      color: $primary-light;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .separator {
    border-bottom: 2px solid #ddd;
    margin-bottom: 1rem;
  }

}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: $carousel-bg;
  border-radius: 1rem;
  background-image: url('../Images/swiperBg.jpg'); // Add your background image
  background-size: cover; // Ensure the image covers the entire container
  background-position: center;
  margin-bottom:1rem;
  img {
    cursor: pointer;
    width: 100%;
    max-width: 150px; // Ensure all images have equal width
    height: 150px; // Fixed height for uniformity
    object-fit: cover; // Ensure images fill the space
    border-radius: 8px; // Optional styling
    margin-bottom: 8px;
  }

  h3 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }

  p {
    font-size: 0.875rem;
  }
}