@import './assets/Style/variables.scss';


//these are main global theme provider

.light-theme {
    background-color: $background-muted;
    color: $text-primary;
  }
  
  .dark-theme {
    background-color: $background-dark;
    color: $primary-text;
  }